.justify{
    text-align: justify;
}

.khudse{
    width:18%;
    height:2px;
    background-color:#ff5e14;
    border-radius: 2px;
    margin-top: 10px;
}

#contact{
    height: 350px;
    /* background-image: url(''); */
    background-size: cover;
}

#contact .col-sm-12
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: #00000091; */
  backdrop-filter: blur(10px);
}

.news-card div {
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}
.news-card div img{
    transition: .5s ease;
}
.news-card:hover img{
    transform: scale(1.2);
}